@use '@angular/material' as mat;
@import '../../../styles';

.content {
  .header-card {
    .header-card-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      .home-box {
        background: white;
        border-radius: 5px;
        color: map-get(mat.$blue-palette, 700);
        padding: 1rem;
        width: 70%;

        .home-box-line-welcome {

        }

        .home-box-title {
          font-size: 2.6rem;
          font-weight: bold;
          padding: .3rem 0;
        }

        .buttons {
          margin-top: 1rem;

          button {
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .explain-card {
    min-height: 60vh;
  }
}

@media (min-width: 601px) {
  .header-card {
    height: 70vh;

    .header-card-content {
      margin: 0 15vw;
    }
  }

  .explain-card {
    padding: 0 15vw;
  }
}

@media (max-width: 600px) {
  .header-card {
    height: 70vh;

    .header-card-content {
      margin: 0 2rem;

      p {
        text-align: right;
      }

      .search-bar-form {
        text-align: right;
      }
    }
  }

  .explain-card {
    padding: 0 2rem;
  }
}
