.galery-container {
	.galery-top {
		background: #ecedf7;
		display: flex;
		margin: 0 auto 1rem;
		padding: 1rem 10vw 1rem;

		.left-side {

		}

		.right-side {
			img {
				width: 25vw;
			}
		}
	}

	.galery-items {
		gap: 2rem;

		a {
		    border-radius: 0.5rem;
		    width: 100%;
		    height: 14rem;
		    display: inline-block;
		    background-size: cover;
		}

		h5 {
			color: #eb387d;
			font-size: 1.2rem;
			margin-top: .5rem;
			margin-bottom: 0;
		}

		.gender {
			color: #808084;
			font-size: .75rem;
			margin-bottom: .5rem;
			text-transform: uppercase;
		}

		.description {
			font-size: .75rem;
		}
	}
}

@media (max-width: 600px) {
	.galery-items {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
}

@media (min-width: 601px) and (max-width: 900px) {
	.galery-items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 1rem 10vw 1rem;
	}
}

@media (min-width: 901px) {
	.galery-items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 1rem 10vw 1rem;
	}
}