@use '@angular/material' as mat;
@import '../../../styles';

.explain-card-content {
  border-top: 4px solid $pink-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h3 {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  a {
    color: map-get(mat.$gray-palette, 600);
  }

  .recommendation-items {
    gap: 1rem;

    a {
      display: flex;
    }

    .item {
      width: 100%;
      padding: 1rem;

      h4 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: .5rem;
      }
    }

    .recommendation-item {
      border: 2px solid $pink-color;
      box-shadow: 5px 5px $pink-light-color; //#FFCADE;
      background: white;
      

      h4 {
        color: #262929;
      }
    }

    .etpc {
      border: 2px solid #A4DCF1;
      box-shadow: 5px 5px #495F8C;
      background: #1A1626;

      h4 {
        color: #A4DCF1;
      }
    }
  }
}

@media (max-width: 600px) {
  .explain-card-content {
    padding: 1rem;

    .recommendation-items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .explain-card-content {
    padding: 1rem;

      .recommendation-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 901px) {
  .explain-card-content {
    padding: 4vh 10vw 4vh;

    .recommendation-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
