<div class="explain-card-content">
  <h3>{{ 'home.recommendations' | translate }}</h3>

  <div class="recommendation-items">
    <a routerLink="/galery">
      <div class="recommendation-item">
        <h4>📷 Galéria</h4>
        <span>Híres transz és nem-bináris emberekrõl</span>
      </div>
    </a>

    <a [routerLink]="'/entry'"
       [queryParams]="{ id: 'brosura-hormonok-kitoltheto-utmutato'}">
      <div class="recommendation-item">
        <h4>💊 Hormonok</h4>
        <span>Bõvebben a kitölthetõ útmutatókról + Letöltés</span>
      </div>
    </a>
  </div>

</div>
