<div class="dark-black-box content">
  <div class="section first">
    <p><a href="https://genderutikalauz.hu">Gender Útikalauz - genderutikalauz.hu</a></p>

    <p>Házigazda: <a href="https://adena.dev" target="_blank">Montefiori Adéna Auróra</a> <span [innerHTML]="'🧿' | utf8EmojisToImages:'apple':20"></span></p>

    <p>Grafika <a href="http://undraw.co" target="_blank">Undraw.co - Katerina Limpitsouni</a> jóvoltából.</p>

    <p>
    Támogatás:
    <br />
    <a href="https://www.patreon.com/egytranszpodcast" target="_blank">😄 Patreon</a>
    <br />
    <a href="https://www.ko-fi.com/egytranszpodcast" target="_blank">😄 Ko-Fi</a>
    </p>
  </div>

  <div class="section second">
    <p>Kapcsolat: <a href="mailto:genderutikalauz@gmail.com">genderutikalauz&#64;gmail.com</a> 👋</p>

    <p>vagy Instagramon <a href="https://www.instagram.com/genderutikalauz/">&#64;genderutikalauz</a>.</p>

    <p><a href="https://discord.gg/mTpwd2mk9F" target="_blank"
      [innerHTML]="'✨ Pantheon LMBT+ Hungary szerver a Discordon.' | translate | utf8EmojisToImages:'apple':16"></a>
    </p>


    <p>A <i>Gender Útikalauz</i> egy transz- illetve LMBT-tematikájú tájékoztató oldal.
    <br /><br />
    Ha új neked a téma:
    <br /><a routerLink="/intro">➡ A transzidentitás alapjai 5 percben 📚</a></p>
  </div>

  <div class="section third">
    <p>Még többet szeretnél tudni LMBT-témában?</p>

    <a href="http://genderdysphoria.fyi/hu" target="_blank"
      [innerHTML]="'➡ Nemi Diszfória Biblia, magyarul' | translate | utf8EmojisToImages:'apple':16"
    ></a>
    <br />

    <p>
    <a href="http://1tpc.hu" target="_blank"
      [innerHTML]="'➡ Egy Transz Podcast. - http://1tpc.hu' | translate | utf8EmojisToImages:'apple':16"></a>
    <br />
  </div>
</div>
