<div class="content">
  <div class="entry-content" *ngIf="entry">
    <markdown [@enter1]>
      {{entry}}
    </markdown>

    <div class="entry-actions" [@enter3]>
      <div class="back-to-home">
        <a [routerLink]="['/']">
          {{ 'general.backToHome' | translate }}
        </a>
      </div>

      <div class="actions">
        <button mat-icon-button (click)="openShareDialog()">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>

    <div class="disclaimer" [@enter4]>
      <b>{{ 'entry.foundErrorTitle' | translate }} </b>
      <span [innerHTML]="'entry.foundErrorText' | translate:{'address':
      '&#109;&#105;&#107;&#114;&#111;&#97;&#103;&#114;&#101;&#115;&#115;&#122;&#105;&#46;&#119;&#105;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'}"></span>
    </div>

    <div class="disclaimer" [@enter4]>
      <b>{{ 'general.missingSomethingTitle' | translate }} </b>
      <span [innerHTML]="'general.missingSomethingText' | translate:{
                  'linkHungarian': 'https://link.adena.dev/mawform',
                  'linkFrench': 'https://link.adena.dev/mawformfr'
               }"></span>
    </div>
  </div>
</div>
