<div class="sidebar-container">
  <div class="sidebar-title">
    {{ 'sidebar.title' | translate }}
  </div>

  <div class="sidebar-item-container">
    <div class="category" *ngFor="let category of categories">
      <div class="category-title" [innerHTML]="category.title | utf8EmojisToImages:'apple':14">
      </div>

      <a [routerLink]="['/category']"
         [queryParams]="{ id: subcategory.id }"
         (click)="linkClicked()"
         class="sidebar-item" *ngFor="let subcategory of category.children">
        <button>
          <div class="text">
            {{subcategory.title}}
          </div>
        </button>
      </a>
    </div>
  </div>
</div>
